<div class="detail-wrapper" *ngIf="itemDetail">
  <mat-card>
    <mat-card-title>{{ itemDetail.title }}</mat-card-title>
  </mat-card>
  <mat-card class="description">
    <mat-card class="user-info">
      <div class="avatar-user">
        <img mat-card-image [src]="itemDetail.user.avatar_url" />
      </div>
      <mat-card-title class="user_name"
        >Name: {{ itemDetail.user.display_name }}</mat-card-title
      >
      <mat-card-subtitle
        >User name: {{ itemDetail.username }}</mat-card-subtitle
      >
      <mat-card-subtitle
        >Description: {{ itemDetail.user.description }}</mat-card-subtitle
      >
    </mat-card>
    <mat-card class="gif-info">
      <mat-card-subtitle>Rating: {{ itemDetail.rating }}</mat-card-subtitle>
      <mat-card-subtitle
        >Date: {{ itemDetail.import_datetime }}</mat-card-subtitle
      >
      <mat-card-subtitle>Type: {{ itemDetail.type }}</mat-card-subtitle>
    </mat-card>
  </mat-card>
  <div class="image-gif">
    <img mat-card-image [src]="itemDetail.images.preview_webp.url" />
  </div>
</div>
