@import '../../../../assets/scss//variables.scss';

.detail-wrapper {
  margin: 20px;

  .description {
    margin-top: 20px;

    .user-info {
      margin-bottom: 20px;
      width: calc(50% - 5px);
      display: inline-block;
      margin-right: 5px;
      min-height: 190px;
      .avatar-user {
        width: 70px;
        height: 70px;
        margin-left: 16px;
        border-radius: 50%;
        box-shadow: 0px 8px 24px rgba(0, 0, 0, 0.35);

        ::ng-deep.mat-card-image:first-child {
          margin-top: 0 !important;
          border-radius: 50% !important;
        }

        ::ng-deep .mat-card-image {
          margin: 0 !important;
        }
        img {
          width: 70px;
          height: 70px;
        }
      }

      .user_name {
        margin-top: 10px;
      }
    }

    .gif-info {
      display: inline-block;
      width: calc(50% - 5px);
      margin-left: 5px;
      min-height: 190px;
      vertical-align: top;
    }
  }

  .image-gif {
    margin-top: 50px;
    padding: 20px;
    display: flex;
    justify-content: center;
    img {
      height: 350px;
      width: auto;
    }
  }
}
