<div *ngFor="let item of listSearch.data" class="list-search-box ">
  <mat-card class="box-information" (click)="goToDetail(item.id)">
    <mat-card-title>{{ item.username }}</mat-card-title>
    <mat-card-subtitle>{{ item.import_datetime }}</mat-card-subtitle>
    <div>
      <img
        class="list-search-image"
        mat-card-image
        [src]="item.images.preview_webp.url"
      />
    </div>
  </mat-card>
</div>
