@import '../../../../assets/scss//variables.scss';

.list-search-box {
  margin-bottom: 20px;
  .box-information {
    cursor: pointer;
  }
  .list-search-image {
    max-height: 200px;
    width: auto;
    margin: auto;
    display: block;
  }
}
