<mat-list class="navbar">
  <mat-list-item class="logo">
    <a [routerLink]="'/'">GIPHY</a>
    <mat-divider></mat-divider>
  </mat-list-item>
  <mat-list-item class="menu">
    <a [routerLink]="'/content/list-of-gif'">Trennding</a>
  </mat-list-item>
  <mat-list-item class="menu">
    <a [routerLink]="'/content/example'">Example</a>
  </mat-list-item>
  <mat-list-item class="menu">
    <a>Exanple</a>
  </mat-list-item>
</mat-list>
