@import '../../../assets/scss//variables.scss';

.navbar {
  height: 100%;
  width: 220px;
  background-color: $purple;
  top: 0;
  position: fixed;

  .logo {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    font-weight: 700;

    a {
      color: white;
      text-decoration-line: none;
      font-size: 20px;
    }
    .mat-divider {
      border-top-color: white;
    }
  }
  .menu {
    display: flex;
    justify-content: left;
    align-items: center;
    a {
      text-decoration-line: none;
      color: white;
      font-size: 16px;
    }
  }
}
