<div class="list-of-trending">
  <form [formGroup]="searchForm" class="search-box" (submit)="onSearch()">
    <mat-form-field appearance="outline" class="input-search">
      <mat-label>Search Gif</mat-label>

      <input
        formControlName="text"
        matInput
        placeholder="Please enter text to search gif"
        value=""
      />
    </mat-form-field>
    <button type="submit" mat-raised-button color="primary">Search</button>
  </form>
  <div class="box-trending documentation">
    <h3>List of Trending</h3>
    <div class="wrapper" *ngIf="listOfTrending">
      <owl-carousel-o [options]="customOptions">
        <ng-container *ngFor="let slide of listOfTrending.data">
          <ng-template class="slide " carouselSlide [id]="slide.id">
            <img
              class="silde-custom"
              (click)="goToDetail(slide.id)"
              [src]="slide.images.preview_webp.url"
              [alt]=""
              [title]=""
              height="300"
            />
          </ng-template>
        </ng-container>
      </owl-carousel-o>
    </div>
  </div>
  <div class="list-search" *ngIf="listSearch">
    <app-card [listSearch]="listSearch"></app-card>
    <mat-paginator
      [length]="listSearch.pagination.total_count"
      [pageSize]="pageSize"
      [pageSizeOptions]="[5, 10, 25, 50]"
      (page)="pageEvent($event)"
      aria-label="Select page"
    >
    </mat-paginator>
  </div>

  <mat-icon
    svgIcon="thumbs-up"
    aria-hidden="false"
    aria-label="Example thumbs up SVG icon"
  ></mat-icon>

  <button class="button-scroll-to-top" (click)="showUp()" type="button">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>
