@import "../../../../assets/scss//variables.scss";

.list-of-trending {
  height: 100%;
  padding: 40px 20px;
  .search-box {
    .input-search {
      width: 80%;
      margin-right: 20px;
    }
    ::ng-deep .mat-form-field-outline {
      color: $purple;
    }
    ::ng-deep .mat-raised-button {
      background-color: $purple;
    }
  }
  .box-trending {
    h3 {
      font-family: Roboto, "Helvetica Neue", sans-serif;
    }
    .silde-custom {
      cursor: pointer;
    }
  }
}

.custom-button-slider {
  background-color: $purple;
}

::ng-deep {
  .owl-theme .owl-nav [class*="owl-"] {
    min-width: 64px;
    line-height: 36px;
    padding: 0 16px;
    background-color: $purple;
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
}

.button-scroll-to-top {
  background-color: $purple;
  border-radius: 50%;
  width: 45px;
  height: 45px;
  bottom: 25px;
  right: 25px;
  filter: drop-shadow(0px 4px 6px rgba(0, 0, 0, 70));
  position: fixed;
  border: none;
  opacity: 0.8;
  cursor: pointer;

  ::ng-deep .mat-icon {
    color: white;
  }
}
