@import "./assets/scss/common.scss";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import "../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.carousel.scss";
@import "../node_modules/ngx-owl-carousel-o/lib/styles/scss/owl.theme.default.scss";
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}
